.ls {
  background: linear-gradient(
    to right,
    rgba(28, 181, 224, 0.7),
    rgba(0, 0, 70, 0.4)
  );
  backdrop-filter: blur(50px);
  color: white;
  height: 75vh;
}
.ls-top {
  padding: 20px;
}
.ls-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ls-nav .logo {
  max-width: 140px;
}

.ls-nav .menu img {
  max-height: 20px;
  opacity: 0.6;
  cursor: pointer;
}

.ls-search {
  background: linear-gradient(
    to right,
    rgba(0, 38, 112, 0.4),
    rgba(255, 255, 255, 0)
  );
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-top: 20px;
}

.ls-search img {
  width: 16px;
}

.ls-search input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 11px;
}

.ls-search input::placeholder {
  color: #c8c8c8;
}

.ls-list {
  display: flex;
  flex-direction: column;
  height: 60%;
  overflow-y: scroll;
}
.friends img {
  width: 35px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.friends {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.friends div {
  display: flex;
  flex-direction: column;
}

.friends span {
  color: black;
  font-size: 11px;
  font-weight: 600;
}
.friends:hover {
  background-color: #077eff;
}

.friends:hover span {
  color: white;
}

.ls-nav .menu {
  position: relative;
  padding: 10px 0px;
}

.menu .sub-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 130px;
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  display: none;
}
.sub-menu hr {
  bottom: none;
  height: 1px;
  background: #a4a4a4;
  margin: 8px 0px;
}

.sub-menu p {
  cursor: pointer;
  font-size: 14px;
}

.menu:hover .sub-menu {
  display: block;
}
.log {
  width: 17%;
}
.ACM {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}
