/* Desktop Navbar */
.navbar-desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #e0f7ff; /* Fallback for old browsers */
  background: -webkit-linear-gradient(to right, #80dfff, #b3c6ff);
  background: linear-gradient(to right, #80dfff, #b3c6ff);
  background-size: cover;
  backdrop-filter: blur(10px);
  height: 72px;
  width: 100%;
  padding: 0 16px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 50;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  width: 50%;
  height: 58px;
}

.logo-image {
  object-fit: contain;
  width: 58px;
  height: 58px;
}

.logo-text {
  width: 80%;
  height: 38px;
  font-weight: 600;
  font-size: 32px;
  line-height: 38.4px;
  font-family: "Times New Roman", Times, serif;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 376px;
  height: 49px;
  gap: 24px;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  height: 29px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.8px;
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: all 0.2s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Mobile Navbar */
.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
}

.navbar-mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  background: #e0f7ff;
  background: -webkit-linear-gradient(to right, #80dfff, #b3c6ff);
  background: linear-gradient(to right, #80dfff, #b3c6ff);
  width: 100%;
  position: sticky;

  left: 0;
  z-index: 49;
  transition: all 0.3s ease;
  overflow: hidden;
  max-height: 0;
}

.navbar-mobile.open {
  max-height: 300px; /* Adjust based on content */
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .mobile-toggle {
    display: block;
  }

  .navbar-mobile {
    display: flex;
  }
  .logo-text {
    font-size: 0; /* Hide the original text */
  }

  .logo-text::before {
    content: "ACM"; /* Show "ACM" on mobile */
    font-size: 24px; /* Adjust font size for mobile */
    font-weight: 600;
    line-height: 38.4px;
    font-family: "Times New Roman", Times, serif;
    position: relative;
    left: 0;
    top: 0;
  }
}
