.rs {
  color: white;
  background: linear-gradient(
    to left,
    rgba(28, 181, 224, 0.7),
    rgba(0, 0, 70, 0.4)
  );
  backdrop-filter: blur(50px);
  position: relative;
  height: 25ph;
  overflow-y: scroll;
}
.rs-profile {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers the profile picture and name horizontally */
  text-align: center; /* Centers the name text */
}

.rs-profile img {
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-bottom: 10px; /* Add space between the profile picture and name */
}

.rs-profile h3 {
  flex: 1;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 0px;
}
.rs-profile h3 img {
  margin-top: 8px;
}

.rs-profile p {
  font-size: 10px;
  opacity: 80%;
  font-weight: 300;
}

.rs hr {
  border-color: #ffffff50;
  margin: 15px 0px;
}

.rs-media {
  padding: 0px 20px;
  font-size: 13px;
}

.rs-media div {
  max-width: 200px;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-top: 8px;
}

.rs-media div img {
  width: 60px;
  border-radius: 4px;
  cursor: pointer;
}
.rs button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #077eff;
  color: white;
  border: none;
  font-size: 12px;
  font-weight: 300;
  padding: 10px 65px;
  border-radius: 20px;
  cursor: pointer;
}
.right-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.chat_app {
  max-width: 230px;
  margin-bottom: 30px;
  border-radius: 10px;
}
