.chat {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url('../../assets/bg.png'); /* Corrected syntax */
}
.chat-container{
    width: 95%;
    height: 75vh;
    max-width: 1000px;
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}